[General]
Lang=fr
StartSound=true
Tone=700

[Entrainement%20a%20la%20reconnaissance]
%2C\stats\goodCount=0
%2C\stats\times\size=0
%2C\stats\tryCount=0
.\stats\goodCount=0
.\stats\times\size=0
.\stats\tryCount=0
0\stats\goodCount=0
0\stats\times\size=0
0\stats\tryCount=0
1\stats\goodCount=0
1\stats\times\size=0
1\stats\tryCount=0
2\stats\goodCount=0
2\stats\times\size=0
2\stats\tryCount=0
3\stats\goodCount=0
3\stats\times\size=0
3\stats\tryCount=0
4\stats\goodCount=0
4\stats\times\size=0
4\stats\tryCount=0
5\stats\goodCount=0
5\stats\times\size=0
5\stats\tryCount=0
6\stats\goodCount=0
6\stats\times\size=0
6\stats\tryCount=0
7\stats\goodCount=0
7\stats\times\size=0
7\stats\tryCount=0
8\stats\goodCount=0
8\stats\times\size=0
8\stats\tryCount=0
9\stats\goodCount=0
9\stats\times\size=0
9\stats\tryCount=0
%3D\stats\goodCount=0
%3D\stats\times\size=0
%3D\stats\tryCount=0
%3F\stats\goodCount=0
%3F\stats\times\size=0
%3F\stats\tryCount=0
a\stats\goodCount=0
a\stats\times\size=0
a\stats\tryCount=0
b\stats\goodCount=0
b\stats\times\size=0
b\stats\tryCount=0
c\stats\goodCount=0
c\stats\times\size=0
c\stats\tryCount=0
d\stats\goodCount=0
d\stats\times\size=0
d\stats\tryCount=0
e\stats\goodCount=0
e\stats\times\size=0
e\stats\tryCount=0
f\stats\goodCount=0
f\stats\times\size=0
f\stats\tryCount=0
g\stats\goodCount=0
g\stats\times\size=0
g\stats\tryCount=0
h\stats\goodCount=0
h\stats\times\size=0
h\stats\tryCount=0
i\stats\goodCount=0
i\stats\times\size=0
i\stats\tryCount=0
j\stats\goodCount=0
j\stats\times\size=0
j\stats\tryCount=0
k\stats\goodCount=0
k\stats\times\size=0
k\stats\tryCount=0
l\stats\goodCount=0
l\stats\times\size=0
l\stats\tryCount=0
m\stats\goodCount=0
m\stats\times\size=0
m\stats\tryCount=0
n\stats\goodCount=0
n\stats\times\size=0
n\stats\tryCount=0
o\stats\goodCount=0
o\stats\times\size=0
o\stats\tryCount=0
p\stats\goodCount=0
p\stats\times\size=0
p\stats\tryCount=0
q\stats\goodCount=0
q\stats\times\size=0
q\stats\tryCount=0
r\stats\goodCount=0
r\stats\times\size=0
r\stats\tryCount=0
s\stats\goodCount=0
s\stats\times\size=0
s\stats\tryCount=0
stats\goodCount=0
stats\times\size=0
stats\tryCount=0
t\stats\goodCount=0
t\stats\times\size=0
t\stats\tryCount=0
u\stats\goodCount=0
u\stats\times\size=0
u\stats\tryCount=0
v\stats\goodCount=0
v\stats\times\size=0
v\stats\tryCount=0
w\stats\goodCount=0
w\stats\times\size=0
w\stats\tryCount=0
x\stats\goodCount=0
x\stats\times\size=0
x\stats\tryCount=0
y\stats\goodCount=0
y\stats\times\size=0
y\stats\tryCount=0
z\stats\goodCount=0
z\stats\times\size=0
z\stats\tryCount=0

[Entrainement%20par%20groupe]
badGuesses=1
goodGuesses=1
groupLength=1

[Entrainement%20par%20mots]
maxWord=2
wordsNumber=0

[Entrainement%20%E0%20la%20vitesse]
%2C\stats\goodCount=0
%2C\stats\times\size=0
%2C\stats\tryCount=0
.\stats\goodCount=0
.\stats\times\size=0
.\stats\tryCount=0
0\stats\goodCount=0
0\stats\times\size=0
0\stats\tryCount=0
1\stats\goodCount=0
1\stats\times\size=0
1\stats\tryCount=0
2\stats\goodCount=0
2\stats\times\size=0
2\stats\tryCount=0
3\stats\goodCount=0
3\stats\times\size=0
3\stats\tryCount=0
4\stats\goodCount=0
4\stats\times\size=0
4\stats\tryCount=0
5\stats\goodCount=0
5\stats\times\size=0
5\stats\tryCount=0
6\stats\goodCount=0
6\stats\times\size=0
6\stats\tryCount=0
7\stats\goodCount=0
7\stats\times\size=0
7\stats\tryCount=0
8\stats\goodCount=0
8\stats\times\size=0
8\stats\tryCount=0
9\stats\goodCount=0
9\stats\times\size=0
9\stats\tryCount=0
%3D\stats\goodCount=0
%3D\stats\times\size=0
%3D\stats\tryCount=0
%3F\stats\goodCount=0
%3F\stats\times\size=0
%3F\stats\tryCount=0
a\stats\goodCount=0
a\stats\times\size=0
a\stats\tryCount=0
b\stats\goodCount=0
b\stats\times\size=0
b\stats\tryCount=0
c\stats\goodCount=0
c\stats\times\size=0
c\stats\tryCount=0
d\stats\goodCount=0
d\stats\times\size=0
d\stats\tryCount=0
e\stats\goodCount=0
e\stats\times\size=0
e\stats\tryCount=0
f\stats\goodCount=0
f\stats\times\size=0
f\stats\tryCount=0
g\stats\goodCount=0
g\stats\times\size=0
g\stats\tryCount=0
h\stats\goodCount=0
h\stats\times\size=0
h\stats\tryCount=0
i\stats\goodCount=0
i\stats\times\size=0
i\stats\tryCount=0
j\stats\goodCount=0
j\stats\times\size=0
j\stats\tryCount=0
k\stats\goodCount=0
k\stats\times\size=0
k\stats\tryCount=0
l\stats\goodCount=0
l\stats\times\size=0
l\stats\tryCount=0
m\stats\goodCount=0
m\stats\times\size=0
m\stats\tryCount=0
n\stats\goodCount=0
n\stats\times\size=0
n\stats\tryCount=0
o\stats\goodCount=0
o\stats\times\size=0
o\stats\tryCount=0
p\stats\goodCount=0
p\stats\times\size=0
p\stats\tryCount=0
q\stats\goodCount=0
q\stats\times\size=0
q\stats\tryCount=0
r\stats\goodCount=0
r\stats\times\size=0
r\stats\tryCount=0
s\stats\goodCount=0
s\stats\times\size=0
s\stats\tryCount=0
stats\goodCount=0
stats\times\size=0
stats\tryCount=0
t\stats\goodCount=0
t\stats\times\size=0
t\stats\tryCount=0
u\stats\goodCount=0
u\stats\times\size=0
u\stats\tryCount=0
v\stats\goodCount=0
v\stats\times\size=0
v\stats\tryCount=0
w\stats\goodCount=0
w\stats\times\size=0
w\stats\tryCount=0
x\stats\goodCount=0
x\stats\times\size=0
x\stats\tryCount=0
y\stats\goodCount=0
y\stats\times\size=0
y\stats\tryCount=0
z\stats\goodCount=0
z\stats\times\size=0
z\stats\tryCount=0

[Grouping%20Training]
badGuesses=1
goodGuesses=1
groupLength=1

[Grouping%20game]
badGuesses=1
goodGuesses=1
groupLength=1

[Jeu%20par%20groupes]
badGuesses=1
goodGuesses=1
groupLength=1

[Jeu%20par%20mots]
maxWord=2
wordsNumber=0

[Recognition%20Training]
%2C\stats\goodCount=0
%2C\stats\times\size=0
%2C\stats\tryCount=0
.\stats\goodCount=0
.\stats\times\size=0
.\stats\tryCount=0
0\stats\goodCount=0
0\stats\times\size=0
0\stats\tryCount=0
1\stats\goodCount=0
1\stats\times\size=0
1\stats\tryCount=0
2\stats\goodCount=0
2\stats\times\size=0
2\stats\tryCount=0
3\stats\goodCount=0
3\stats\times\size=0
3\stats\tryCount=0
4\stats\goodCount=0
4\stats\times\size=0
4\stats\tryCount=0
5\stats\goodCount=0
5\stats\times\size=0
5\stats\tryCount=0
6\stats\goodCount=0
6\stats\times\size=0
6\stats\tryCount=0
7\stats\goodCount=0
7\stats\times\size=0
7\stats\tryCount=0
8\stats\goodCount=0
8\stats\times\size=0
8\stats\tryCount=0
9\stats\goodCount=0
9\stats\times\size=0
9\stats\tryCount=0
%3D\stats\goodCount=0
%3D\stats\times\size=0
%3D\stats\tryCount=0
%3F\stats\goodCount=0
%3F\stats\times\size=0
%3F\stats\tryCount=0
a\stats\goodCount=0
a\stats\times\size=0
a\stats\tryCount=0
b\stats\goodCount=0
b\stats\times\size=0
b\stats\tryCount=0
c\stats\goodCount=0
c\stats\times\size=0
c\stats\tryCount=0
d\stats\goodCount=0
d\stats\times\size=0
d\stats\tryCount=0
e\stats\goodCount=0
e\stats\times\size=0
e\stats\tryCount=0
f\stats\goodCount=0
f\stats\times\size=0
f\stats\tryCount=0
g\stats\goodCount=0
g\stats\times\size=0
g\stats\tryCount=0
h\stats\goodCount=0
h\stats\times\size=0
h\stats\tryCount=0
i\stats\goodCount=0
i\stats\times\size=0
i\stats\tryCount=0
j\stats\goodCount=0
j\stats\times\size=0
j\stats\tryCount=0
k\stats\goodCount=0
k\stats\times\size=0
k\stats\tryCount=0
l\stats\goodCount=0
l\stats\times\size=0
l\stats\tryCount=0
m\stats\goodCount=0
m\stats\times\size=0
m\stats\tryCount=0
n\stats\goodCount=0
n\stats\times\size=0
n\stats\tryCount=0
o\stats\goodCount=0
o\stats\times\size=0
o\stats\tryCount=0
p\stats\goodCount=0
p\stats\times\size=0
p\stats\tryCount=0
q\stats\goodCount=0
q\stats\times\size=0
q\stats\tryCount=0
r\stats\goodCount=0
r\stats\times\size=0
r\stats\tryCount=0
s\stats\goodCount=0
s\stats\times\size=0
s\stats\tryCount=0
stats\goodCount=0
stats\times\size=0
stats\tryCount=0
t\stats\goodCount=0
t\stats\times\size=0
t\stats\tryCount=0
u\stats\goodCount=0
u\stats\times\size=0
u\stats\tryCount=0
v\stats\goodCount=0
v\stats\times\size=0
v\stats\tryCount=0
w\stats\goodCount=0
w\stats\times\size=0
w\stats\tryCount=0
x\stats\goodCount=0
x\stats\times\size=0
x\stats\tryCount=0
y\stats\goodCount=0
y\stats\times\size=0
y\stats\tryCount=0
z\stats\goodCount=0
z\stats\times\size=0
z\stats\tryCount=0

[Speed%20Training]
%2C\stats\goodCount=0
%2C\stats\times\size=0
%2C\stats\tryCount=0
.\stats\goodCount=0
.\stats\times\size=0
.\stats\tryCount=0
0\stats\goodCount=0
0\stats\times\size=0
0\stats\tryCount=0
1\stats\goodCount=0
1\stats\times\size=0
1\stats\tryCount=0
2\stats\goodCount=0
2\stats\times\size=0
2\stats\tryCount=0
3\stats\goodCount=0
3\stats\times\size=0
3\stats\tryCount=0
4\stats\goodCount=0
4\stats\times\size=0
4\stats\tryCount=0
5\stats\goodCount=0
5\stats\times\size=0
5\stats\tryCount=0
6\stats\goodCount=0
6\stats\times\size=0
6\stats\tryCount=0
7\stats\goodCount=0
7\stats\times\size=0
7\stats\tryCount=0
8\stats\goodCount=0
8\stats\times\size=0
8\stats\tryCount=0
9\stats\goodCount=0
9\stats\times\size=0
9\stats\tryCount=0
%3D\stats\goodCount=0
%3D\stats\times\size=0
%3D\stats\tryCount=0
%3F\stats\goodCount=0
%3F\stats\times\size=0
%3F\stats\tryCount=0
a\stats\goodCount=0
a\stats\times\size=0
a\stats\tryCount=0
b\stats\goodCount=0
b\stats\times\size=0
b\stats\tryCount=0
c\stats\goodCount=0
c\stats\times\size=0
c\stats\tryCount=0
d\stats\goodCount=0
d\stats\times\size=0
d\stats\tryCount=0
e\stats\goodCount=0
e\stats\times\size=0
e\stats\tryCount=0
f\stats\goodCount=0
f\stats\times\size=0
f\stats\tryCount=0
g\stats\goodCount=0
g\stats\times\size=0
g\stats\tryCount=0
h\stats\goodCount=0
h\stats\times\size=0
h\stats\tryCount=0
i\stats\goodCount=0
i\stats\times\size=0
i\stats\tryCount=0
j\stats\goodCount=0
j\stats\times\size=0
j\stats\tryCount=0
k\stats\goodCount=0
k\stats\times\size=0
k\stats\tryCount=0
l\stats\goodCount=0
l\stats\times\size=0
l\stats\tryCount=0
m\stats\goodCount=0
m\stats\times\size=0
m\stats\tryCount=0
n\stats\goodCount=0
n\stats\times\size=0
n\stats\tryCount=0
o\stats\goodCount=0
o\stats\times\size=0
o\stats\tryCount=0
p\stats\goodCount=0
p\stats\times\size=0
p\stats\tryCount=0
q\stats\goodCount=0
q\stats\times\size=0
q\stats\tryCount=0
r\stats\goodCount=0
r\stats\times\size=0
r\stats\tryCount=0
s\stats\goodCount=0
s\stats\times\size=0
s\stats\tryCount=0
stats\goodCount=0
stats\times\size=0
stats\tryCount=0
t\stats\goodCount=0
t\stats\times\size=0
t\stats\tryCount=0
u\stats\goodCount=0
u\stats\times\size=0
u\stats\tryCount=0
v\stats\goodCount=0
v\stats\times\size=0
v\stats\tryCount=0
w\stats\goodCount=0
w\stats\times\size=0
w\stats\tryCount=0
x\stats\goodCount=0
x\stats\times\size=0
x\stats\tryCount=0
y\stats\goodCount=0
y\stats\times\size=0
y\stats\tryCount=0
z\stats\goodCount=0
z\stats\times\size=0
z\stats\tryCount=0

[WPM]
Accept=2
Goal=20

[Word%20Game]
maxWord=2
wordsNumber=0

[Word%20Training]
maxWord=2
wordsNumber=0

[lettertraining]
letterDelay=@Variant(\0\0\0\x87?\0\0\0)
minimumTries=10
percentGoal=90

[readtome]
readWordCount=1

[speedtraining]
countWeight=50
speedWeight=@Variant(\0\0\0\x87?\xc0\0\0)
